:root {
	--theme-color_light: rgb(219, 184, 141);
	--theme-color_dark: rgb(47, 56, 71);

	--theme-background: rgb(79, 90, 110);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

#root {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	padding: 32px;
	/* overflow-y: auto; */
}

.row {
	display: flex;
	flex-direction: row;
}

.row>div {
	margin-right: 16px;
}